{% extends 'front/base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app-admin-main') }}
{% endblock %}

{% block body %}
    <div id="app-admin-main"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app-admin-main') }}
{% endblock %}
