@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons|Material+Icons+Round')
@import 'quasar/dist/quasar.sass'
@import  './app.admin.sidebar'

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
    -webkit-box-shadow: 0 0 0 30px white inset !important
