{% extends 'admin/base.html.twig' %}

{% block body %}
    <div id="app-admin-payment"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app-admin-payment') }}
{% endblock %}
